body{
    margin: %5;
    padding: 30px;

}

header{
    background-image: url("flywheel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px 60px;
    background-color: #ffffff;
    text-align: center;
}

h1{
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

nav a{
    border-radius: 5px;
    display: inline-block;
    color: #000000;
    padding: 20px 100px 20px 50px;
    text-decoration: none;
    text-align: center;
    background-color: #bababa8c;
    margin-right: 75px;

}

.active{
    background-color: #ffffff;
}

.left{
    float: left;
	width:14%;
	height: 400px;
	background-color: #728700;

}

.right{
    display: inline-block;
	width: 83%;
	padding-left: 10px;

}

aside img{
    display: block;
    width: 150px;
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
